html, body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    /* background: honeydew; */
    background: #FFE8E8;
}

.calendar-screen{
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.rbc-calendar{
    height: 100vh;
}

.rbc-today {
    background-color: #FFCECE!important;
}


.rbc-event, .rbc-day-slot .rbc-background-event {
    background-color: #900C3F!important;
}

.rbc-day-slot .rbc-event-content {
    font-size: 14px;
}

.rbc-event-label {
    font-size: 60%!important;
}

.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
    white-space: pre-line;
    font-size: 14px;
}

.rbc-agenda-view table.rbc-agenda-table {
    background: #FFCECE;
}