html,
body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background: #FFE8E8;
}

.calendar-screen {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.rbc-calendar {
    height: 100vh;
}

.rbc-today {
    background-color: #FFCECE !important;
}


.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
    outline: none;
}

.rbc-day-slot .rbc-event-content {
    font-size: 14px;
}

.rbc-event-label {
    font-size: 60% !important;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
    white-space: pre-line;
    font-size: 14px;
}


.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
    background-color: #900C3F;
    color: white;
    outline: none;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: #900C3F;
    color: white;
    outline: none;
}

.rbc-off-range-bg {
    background: white;
}

.rbc-toolbar button:active {
    background-color: #FFCECE;
    color: white;
    outline: none;
}

.rbc-toolbar button:focus {
    background-color: #FFCECE;
    outline: none;
}

tbody tr{
    border: 0.5px solid white!important;
}

/* Modal */

.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

.btn.btn-block {
    background: #900C3F;
    border: none;
    color: white;
}

.btn.btn-block:hover {
    background: #FFCECE;
    color: white;
}

.btn.btn-block:focus {
    background: #FFCECE;
    color: white;
    box-shadow: none;
}

.modal-title {
    letter-spacing: 3px;
    text-align: center;
}

/* DatePicker */

.react-datetime-picker input:focus {
    outline: none;
}

.react-datetime-picker__wrapper {
    border: 0px solid gray !important;
}

/* FABS */
.fab {
    border-radius: 100%;
    bottom: 25px;
    right: 25px;
    font-size: 30px;
    padding: 20px;
    position: fixed;
    background: #900C3F;
    color: white;
    cursor: pointer;
}

.fab i{
    cursor: pointer;
}

.fab:active{
    box-shadow: none;
    color: white !important;
}

.fab:focus{
    box-shadow: none;
    color: white !important;
}

.fab:hover{
    outline: none;
    color: #FFCECE;
}

.fab-danger{
    bottom: 25px;
    left: 25px;
    padding: 10px;
    position: fixed;
}